.Home{
    position: relative;
    z-index: 100;
    .mySwiper{
   margin-bottom:131px ;
    .box{
        height: 628px;
        width: 100%;
        position: relative;
img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
        .box-inner{
            color: #FFF;
            position: relative;
            width: 38%;
            margin-left: 187px;
            padding-top: 129px;
            h4,h1{
                margin-bottom: 40px;
            }
            h1{
                color: #FFF;
               
                font-size: 78px;
                font-style: normal;
                font-weight: 800;
                line-height: 93.622px; /* 120.028% */
                letter-spacing: 0.315px;
            }
        }
    }
    .above{
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        .my-btn{
            display: flex;
padding: 16px 72px;
justify-content: center;
align-items: center;
gap: 12px;
border-radius: 8px;
background: #FFF;
color: #3C4242;
        }
    }



    .swiper-button-prev, .swiper-button-next {
        width: 24px;
        height: 44.471px;
        flex-shrink: 0;
color: #FFF;
    }


.swiper-pagination-bullet {
    width: 63px;
    height: 10px;
    flex-shrink: 0;
    background-color:  rgb(255, 255, 255);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    opacity: .5;
}
.swiper-pagination-bullet-active{
    background-color: #FFF;
    opacity: 1;
}
}

////////////////////////////// offer //////////////////////////////

.offer{
    margin-bottom: 35px;
    padding: 0 .5rem;
    .my-row{
        justify-content: center;
        gap: 30px;
    }
       
        .left , .right{
            border-radius: 12px;
overflow: hidden;
            height: 355px;
            width: 49%;
            max-width: 605px;
            position: relative;
            cursor: pointer;
        }
img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
        .box-inner{
            color: #FFF;
            position: relative;
            width: 60%;
            margin-left: 30px;
            padding-top: 55px;
            h6{
                margin-bottom: 41px;
            }
            h4{
                color: #FFF;
               margin-bottom: 25px;
               
            }
        }
        .my-btn{
            margin: 0;
            display: flex;
            padding: 16px 0 0 0;
            justify-content: center;
            align-items: center;
            gap: 12px;
            border-radius: 8px;
            color: #FFF;
            text-decoration-line: underline;
            -moz-text-decoration-line: underline;
            background-color: transparent;

    }
    }
   
       






}



@media(max-width:1189px){
    .Home {
        .mySwiper{
        .box{
            .box-inner{
                width: 52%;
                padding-top: 90px;
                margin-left: 100px;
              
            }
        }
    }
    }
}



@media(max-width:950px){
    .Home {
        .mySwiper{
        .box{
            height: 525px;
            .box-inner{
                width: 60%;
                h1{
                    
    font-size: 48px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0em;
                }
            }
        }
    }
    }
}



@media(max-width:700px){
    .Home {
        .mySwiper{
        .box{
            height: 450px;
            .box-inner{
                padding-top: 50px;
                margin-left: 50px;
                width: 80%;
                h1{
                    
    font-size: 35px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
                }
            }
        }
    }
    .offer{
        .my-row{
            flex-direction: column;
            .right ,.left{
                width: 100%;
                //margin-bottom: 30px;
            }
        }
    }
    }
}







@media(max-width:700px){
    .Home {
        .mySwiper{
        .box{
            height: 400px;
            .box-inner{
                padding-top: 25px;
                margin-left: 25px;
                width: 80%;
               
            }
        }
    }
    }
}


